/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

/* Root */
:root {
    --primary-clr: #c72727;
    --snd-clr: #f99500;
    --light-clr: #f3f3f3;
    --dark-clr: #333;
    /* Categories*/
    --sports-clr: rgb(57, 230, 57);
    --ent-clr: #a66bbe;
    --tech-clr: #009cff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: var(--light-clr);
}

a {
    color: var(--dark-clr);
    text-decoration: none;
}

ul, li {
    list-style: none;
}

p {
    margin: 10px 0;
}

h1, h2, h3 {
    font-family: 'Staatliches', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.6rem;
    line-height: 1.2;
}

img {
    width: 100%;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 3;
}

.l-heading {
    font-size: 4rem;
}

.card {
    background: #fff;
    color: #333;
    padding: 1rem;
}

.bg-prim {
    background: var(--primary-clr);
    color: #fff;
}

.bg-snd {
    background: var(--snd-clr);
    color: #fff;
}

.bg-dark {
    background: var(--dark-clr);
    color: #fff;
}

.bg-prim a,
.bg-snd a,
.bg-dark a {
    color: #fff;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.ctg-sport { background: var(--sports-clr); }
.ctg-ent { background: var(--ent-clr); }
.ctg-tech { background: var(--tech-clr); }

.ctg-sport::after {
    content: 'SPORTS';
}
.ctg-ent::after {
    content: 'ENTERTAINMENT';
}
.ctg-tech::after {
    content: 'TECHNOLOGY';
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: var(--primary-clr);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity ease;
}

.btn-snd { background: var(--snd-clr); }
.btn-dark { background: #333; }
.btn-light { background: #f3f3f3; }
.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.p1 { padding: 1rem; }
.p2 { padding: 1.5rem; }
.p3 { padding: 2rem; }
.py1 { padding: 1rem 0; }
.py2 { padding: 1.5rem 0; }
.py3 { padding: 2rem 0; }

.list li {
    width: 90%;
    padding: 0.7rem 0;
    border-bottom: 1px #777 dotted;
}

.list li a:hover {
    color: var(--primary-clr);
}

/* Navbar */
#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .nav-content {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo {
    width: 180px;
}

#main-nav .nav-content ul {
    justify-self: end;
    display: flex;
}

#main-nav .nav-content ul a {
    font-weight: bold;
    padding: .75rem;
}

#main-nav .nav-content ul a.current {
    background: var(--primary-clr);
    color: #fff;
}


#main-nav .nav-content ul a:hover {
    background: #f4f4f4;
    color: #000;
}

#main-nav .s-media {
    justify-self: center;
}

#main-nav .s-media i {
    margin-right: .5rem;
}

/* Showcase */
#showcase {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2rem;
}

#showcase::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/featured.jpg') no-repeat center center/ cover;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    align-items: center;
    justify-content: center;
}

#showcase .showcase-container .btn {
    margin-top: 0.5rem;
}

/* Home Articles */
#home-articles .articles-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    grid-gap: 1rem;
    align-items: center;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

/* Main Footer */
#main-footer img {
    width: 150px;
}

#main-footer .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

#main-footer .footer-content > *:last-child {
    grid-column: 1 / span 4;
    text-align: center;
    background: #444;
    padding: .5rem;
    font-size: 0.8rem;
}

#main-footer .footer-content form input[type='submit'] {
    width: 85%;
    border-radius: 5px;
}

#main-footer .footer-content form input[type='email'] {
    width: 85%;
    margin-bottom: .5rem;
    padding: 0.45rem;
    border: none;
    outline: none;
    border-radius: 5px;
}